.navbar {
  margin-bottom: 0;
  background-color: #0087BD;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  padding-left: 5px;
}

.navbar li a,
.navbar .navbar-brand {
  color: #fff !important;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
  color: #FFFFFF !important;
  background-color: #082567 !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #FFF !important;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.btn-with-image {
  background-color: transparent !important;
  border-style: none;
  outline: none;
  box-shadow: none !important;
}

.btn-with-image:focus{
  outline: none;
}

.person {
  border: 10px solid transparent;
  margin-bottom: 25px;
  opacity: 0.7;
}
.person:hover {
  border-color: #686868;
}

h3.a{
  font-family: 'Cantata One';
}

.button_smallcontact {
  background-color: transparent;
  color: white;
  border: 2px solid #FFFFFF;
}

.button_smallcontact:hover {
  background-color: #FFFFFF;
  color: black;
}

.collapse {
  padding-left: 2px;
}

.modal {
  padding-top: 50px;
}

footer .glyphicon {
  font-size: 20px;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.slideanim {
  visibility: hidden;
}
.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

.slideopacityanim {
  visibility: hidden;
  opacity: 0.8;
}
.slideopacity {
  animation-name: addopacity;
  -webkit-animation-name: addopacity;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}
@keyframes addopacity {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 0.8;
    transform: translateY(0%);
  }
}
@-webkit-keyframes addopacity {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 0.8;
    transform: translateY(0%);
  }
}

footer a[href^=tel] {
    text-decoration: none;
    color: black;
}