#jumbotrontitle {
  padding: 100px 0 50px 0;
}

#Zoo {
  display: flex; 
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
}

#zoopicture {
  width: 100%;
}

#zootext {
  padding: 20px;
  font-size: 20px;
  text-align: left;
}


@media screen and (min-width: 600px) {
  #zootext {
    width: 600px;
  }
}

@media screen and (min-width: 840px) {
  #zootext {
    width: 840px;
  }
}

@media screen and (min-width: 1150px) {
  #zootext {
    width: 1150px;
  }
}

@media screen and (min-width: 1400px) {
  #Zoo {
    flex-direction: row;
  }

  #zootext {
    flex: 0 0 600px;
  }
}

#Magliozzi {
  padding: 40px 0;
}

@media screen and (min-width: 768px) {
  #Magliozzi {
    padding: 100px 0;
  }
}

#profilewrapper {
  display: flex; 
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

#profilepicture {
  max-width: 400px;
  width:100%;

  -webkit-filter: drop-shadow(2px 2px 0 grey) drop-shadow(-2px -2px 0 grey);
  filter: drop-shadow(2px 2px 0 grey) drop-shadow(-2px -2px 0 grey);    
}

@media screen and (max-width: 1000px) {
  #profilewrapper {
    display: flex;
    flex-direction: column;
  }

  #profilepicture {
    margin-bottom: 20px;
  }
}

#metropicture {
  display: block;
  margin: auto;
  width: 80%;
}

#metropicturesmall {
  display: none;
  width: 100%;
}

#metropicturesmallsmall {
  display: none;
  width: 100%;
}

@media screen and (max-width: 1500px) {
  #metropicture {
    display: none;
  }

  #metropicturesmall {
    display: block;
  }

  #metropicturesmallsmall {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #metropicture {
    display: none;
  }

  #metropicturesmall {
    display: none;
  }

  #metropicturesmallsmall {
    display: block;
  }
}

#BerufserfahrungBig {
  display: none;
}

#BerufserfahrungBig li {
  margin-top: -20px;
}

#BerufserfahrungBig h3, #BerufserfahrungBig h4 {
  padding-bottom: 20px;
}

#BerufserfahrungSmall {
  display: block;
  padding: 20px;
  font-size: 20px;
}

#BerufserfahrungCollapse {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease-in-out;
}

@media screen and (min-width: 900px) {
  #BerufserfahrungBig {
    display: block;
    padding: 40px 0;
    font-size: 20px;
  }

  #BerufserfahrungSmall {
    display: none;
  }
}

#Kontakt {
  display: block;
  padding: 40px 20px;
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  #Kontakt {
    padding: 40px 50px;
  }
}

#kontaktwrapper {
  display: flex;
  flex-direction: row;
}

#map {
  width: 117%;
}

#map iframe {
  min-height: 450px
}

#kontakttext {
  width: 77%;
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  #kontaktwrapper {
    flex-direction: column;
  }
  
  #map {
    width: 100%;
  }
  
  #kontakttext {
    width: 100%;
  }
}

#textpraxisbig {
  display: block;
}

#textpraxissmall {
  display: none;
  margin-top: 20px;
}

@media screen and (max-width: 1000px) {
  #textpraxisbig {
    display: none;
  }

  #textpraxissmall {
    display: block;
  }
}

#footerpraxis {
  min-height: 200px;
  padding: 100px 50px;
}