#jumbotron_title {
  background: #ffffff;

  padding: 100px 0 20px 0;
  margin: 0px;
}

#Zoo {
  display: flex; 
  align-items: center;
  justify-content: center;
}

#zoopicture {
  width: 50%;
}

#zootext {
  width: 50%;
  padding: 20px;
  font-size: 19px;
}

#Magliozzi {
  background-color: #ffffff;
  padding: 40px 0;
}

@media screen and (min-width: 768px) {
  #Magliozzi {
    background-color: #ffffff;
    padding: 100px 0;
  }
}

#profilewrapper {
  display: flex; 
  align-items: center;
  justify-content: center;
}

#profilepicture {
  max-width: 400px;
  width:100%;

  -webkit-filter: drop-shadow(2px 2px 0 grey) drop-shadow(-2px -2px 0 grey);
  filter: drop-shadow(2px 2px 0 grey) drop-shadow(-2px -2px 0 grey);    
}

#metropicture {
  margin: auto;
  width: 80%;
}

#metropicturesmall {
  display: none;
}

#metropicturesmallsmall {
  display: none;
}

@media screen and (max-width: 1000px) {
  #profilewrapper {
    display: flex;
    flex-direction: column;
  }

  #profilepicture {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1500px) {
  #metropicture {
    display: none;
  }

  #metropicturesmall {
    display: block;
    width: 100%;
  }

  #metropicturesmallsmall {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #metropicture {
    display: none;
  }

  #metropicturesmall {
    display: none;
  }

  #metropicturesmallsmall {
    display: block;
    width: 100%;
  }
}

#Berufserfahrung {
  height: 100%;
  background-color: #ffffff;
  padding: 40px 50px;

  font-size: 20px;

}

@media screen and (min-width: 768px) {
  #Berufserfahrung {
    background-color: #ffffff;

    font-size: 20px;
  }
}


@media screen and (max-width: 400px) {
  #Berufserfahrung {
    background-color: #ffffff;
    font-weight: normal;
  }
}

#Kontakt {
  background-color: #FFFFFF;
  padding: 40px 50px;
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  #Kontakt {
    background-color: #FFFFFF;
    padding: 100px 50px;
    font-size: 20px;
  }
}

#kontaktwrapper {
  display: flex;
}

#map {
  width: 117%;
}

#kontakttext {
  width: 77%;
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  #kontaktwrapper {
    display: flex;
    flex-direction: column;
  }
  
  #map {
    width: 100%;
  }
  
  #kontakttext {
    width: 100%;
  }
}

#textpraxisbig {
  display: block;
}

#textpraxissmall {
  display: none;
}

@media screen and (max-width: 1000px) {
  #textpraxisbig {
    display: none;
  }

  #textpraxissmall {
    display: block;
    margin-top: 20px;
  }
}

#footer_praxis {
  background: #ffffff;
  min-height: 200px;
  padding: 100px 50px;
}

/* Turn off parallax scrolling for all tablets and phones. */
@media only screen and (max-width: 1366px) {
  #Willkommen {
    background-attachment: scroll;
  }

  #Berufserfahrung {
    background-attachment: scroll;
  }
}