body {
  background-color: #FFFFFF;
}

.tab {
  position: relative;
  left: 0px;
  max-width: 1400px;
}

.navbar {
  margin-bottom: 0;
  background-color: #0087BD;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  padding-left: 5px;
}

.navbar li a,
.navbar .navbar-brand {
  color: #fff !important;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
  color: #FFFFFF !important;
  background-color: #082567 !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #FFF !important;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.collapse {
  padding-left: 2px;
}

.modal {
  padding-top: 50px;
}

footer .glyphicon {
  font-size: 20px;
  margin-bottom: 20px;
  color: #0087BD;
}

.slideanim {
  visibility: hidden;
}
.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

footer a[href^=tel] {
    text-decoration: none;
    color: black;
}