#jumbotron_first {
  background: #0087BD;

  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color:white;
  padding: 100px 50px;
  margin: 0px;
}

#willkommen-wrapper {
  display: flex;
  align-items: center;

  padding: 0px;
  margin: 0px;  

  background: linear-gradient(rgba(95, 66, 224, 0.25),rgba(0, 255, 255, 0.45)),
  url("https://lh3.googleusercontent.com/bVtAwy-IqKNa0pJFX2Ra1QSaPFaUACiQP-yGFz_nPHJrKMadnm4e6Q7C1CwgcNVRa20LC16x_k3E72JCKzhfgfbxIWV1m5gsQbilfaIbAPNPaqo8rti4jtRarmoDlh6EbO8KcBbbGTdi96iWOqMBpFEWYjce05m5u4Skj9Q43LHxmNUm6EH0oNyJiGXMOkp66vbnM7MNIKQf6hAlzCcy_mpHCgc2eJ8IiBmPhBtnjgBc7YTyXwFoxX9I0dgbxbDax-D3QRE3s1fKtYjnmRWFUoRY6u6Ps0KTJevaBF7zyAzgTAD8sB6Pj3C6mw357YDSbHWZfKs9YvXOXqoyGHtBq7TVkVsG7dkxAR7FqCLVJvFfSExsEqQ4Lp35S0-9Qh6C1O02jtEdENUiTO0_Gb3RUg1MIgz_5iTOdIJrO-cqycR16mLQt6H0QcytEE7FV7ccIhXALIRpbNxgbR0GTf2fbBN8MxkvQg8qFp68ArRzv2TWmQ_BPtFqd2NsQAD1pwJHMK7gFZ53H1q-zfijb5z7LUPSLTuFonuAdADD4Eya-_ykQe6pxhVkmVhU2MVUWfzBFLym9tpQEJQDOq9MPZ411lIaROiTG5R0qNimlWSUC_DDooHGRDiRu9MGGixxvDB-Yhwx5zc8Ap80FW8-E6zBWap6JO1M-Hi2=w1425-h949-no");

  min-height: 1000px;

  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  background-attachment: fixed;
}

#willkommen {
  width: 100%;

  padding: 20px;
  
  font-size: 19px;
  background-color: white;
  color: black;
}

#willkommen-wrapper-small {
  display: none;
}

#willkommen2 {
  width: 100%;

  padding: 20px;
  
  font-size: 19px;
  background-color: white;
  color: black;
}

#willkommen-picture-small {
  width: 100%;
}

@media screen and (max-width: 768px) {
  #willkommen-wrapper {
    display: none;
  }

  #willkommen-wrapper-small {
    display: block;
  }
}

#profilewrapper {
  display: flex; 
  align-items: center;
}

#profilepicture {
  width:100%;

  -webkit-filter: drop-shadow(2px 2px 0 grey) drop-shadow(-2px -2px 0 grey);
  filter: drop-shadow(2px 2px 0 grey) drop-shadow(-2px -2px 0 grey);    
}

#metropicture {
  margin: auto;
  width:80%;
}

#metropicturesmall {
  display: none;
}

#metrotext {
  display: none;
}

@media screen and (max-width: 1500px) {
  #metropicture {
    display: none;
  }

  #metropicturesmall {
    display: block;
    width: 100%;
  }

  #profilepicture {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 1000px) {
  #profilewrapper {
    display: flex;
    flex-direction: column;
  }
}

#ausbildung2 {
  background-image: url("wave.jpeg");
  background-color: #cccccc;

  font-weight: bold;
  
  /* Set a specific height */ 
  min-height: 900px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  #ausbildung2 {
    background-image: url("wave.jpeg");
    background-color: #cccccc;

    background-attachment: scroll;
    background-position: initial;
    background-repeat: no-repeat;

    font-weight: bold;
  }
}

#ausbildung2text {
  font-size: 15px;
  color: black;
}

#grad1{
  color: black;
  background-color: blue;
  background-image: linear-gradient(to bottom right, #0087BD, #00FFFF);
}

#kontakttext {
  font-size: 20px;
}

#textpraxisbig {
  display: block;
}

#textpraxissmall {
  display: none;
}

@media screen and (max-width: 1000px) {
  #textpraxisbig {
    display: none;
  }

  #textpraxissmall {
    display: block;
    font-size: 20px;
  }
}

#footer_praxis {
  background: #0087BD;
  min-height: 200px;
}