html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
header {background-color: #F1F1F1;text-align: center;padding: 20px;}

.w3-bar {
    overflow:hidden;
    padding:8px 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content { 
    padding-top:42px;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.w3-bar-item{
    border-radius:5px;
    padding:8px 16px;
    float:left;
    display:block;
    text-decoration:none;
    color:inherit;
    background-color:inherit
}
.w3-bar-item:hover{background-color: #111;color: #fff;}
.w3-bar-item:active{background-color: lavender}

.w3-black{color:#fff;background-color:#000}

.content {
    font-size: 40px;
}