body {
    margin: auto;
    width: 100%;
    font-family: 'Playfair Display', serif;
    font-size: 18px
}

/*
* h1:hover, h2:hover {
*     background-color: rgba(255, 255, 0, 0.253);
* }
*/

hr {
    padding: 4px;
    background-color: black;
    margin: 0px;
    margin-bottom: 5px;
    border: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
  
.navbarlink {
    float: left;
    padding: 5px;
    padding-right: 10px;
}

a:hover {
    background-color: rgb(218, 165, 32);
}

a {
    text-decoration: none;
    color: black;
}

#chosenlink {
    background-color: yellow;
}

#printlink {
    float: right;
}

img {
    width: 100%;
}

.middle {
    margin: auto;
    width: 95%;
}

.columnleft {
    margin: auto;
    width: 60%;
}
.columnright {
    width: 100%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.box {
    margin-bottom: 21px !important;
    padding:5px;
    box-shadow: 0 0 0 0 rgba(0,0,0,0.08);
    transition: box-shadow 0.3s ease-in-out;
}

.box:hover {
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 769px) {
    .columnleft {
        width: 25%;
        overflow: auto;
        float: left;
    }

    .columnright {
        width: 70%;
        overflow: auto;
        float: left;
    }
}

@media only screen and (min-width: 1000px) {
    .middle {
        width: 60% !important;
        margin: auto;
    }
}